<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game" class="game">
      <section class="game__process">
        <section id="monster" class="container">
          <h2>Monster Health</h2>
          <div class="healthbar">
            <div 
              :style="monsterHealthbar"
              class="healthbar__value"></div>
          </div>
        </section>
        <section id="player" class="container">
          <h2>Your Health</h2>
          <div class="healthbar">
            <div 
              :style="playerHealthbar"
              class="healthbar__value"></div>
          </div>
        </section>
        <section v-if="winner" class="container">
          <h2>Game over!</h2>
          <h3 v-if="winner === 'player'">You won!</h3>
          <h3 v-else-if="winner === 'monster'">You lost!</h3>
          <h3 v-else>It's a draw!</h3>
          <button @click="restartGame">Restart</button>
        </section>
        <section v-else id="controls">
          <button @click="attackMonster">ATTACK</button>
          <button
            :disabled="specialAttackEnabled"
            @click="specialAttackMonster"
            >SPECIAL ATTACK</button>
          <button
            @click="heal">HEAL</button>
          <button
            @click="surrender"
          >SURRENDER</button>
        </section>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-if="gameLog.length > 0">
          <li v-for="message in gameLog">
            <span :class="{'log--player': message.who === 'player', 'log--monster': message.who === 'monster'}"
            >{{ message.who === 'player' ? 'Player ' : 'Monster ' }}</span>
            <span>{{ message.what === 'attack' ? 'attacks and deals ' : 'heals himself for ' }}</span>
            <span :class="{'log--damage': message.what === 'attack', 'log--heal': message.what === 'heal'}">{{ message.points + 'p.'}}</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
