<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>History</title>
</head>
<body>
  <main class="main">
    <header class="main__header header">
      <div class="header__logo">
        <h1>This is logo</h1>
      </div>
      <ul class="header__menu-items menu-items">
        <li class="menu-items__item"><a href="/">Main</a></li>
        <li class="menu-items__item"><a class="active" href="/history">History</a></li>
        <li class="menu-items__item"><a href="/write">Write something</a></li>
      </ul>
    </header>
    <section class="content">
      <h1 class="content__title">History of lorem ipsum text</h1>
      <p class="content__text">
        Lorem Ipsum comes from passages of a latin book written
        in 45 BC by Cicero "de Finibus Bonorum et Malorum" translated
        to "The Extremes of Good and Evil".
      </p>
      <p class="content__text">
        As you can see, although, you may not have the content ready
        for your site or whatever it is that you want to publish you
        can get a feel for what it would look like.

        I hope Cicero is happy to know that we felt his text was so good
        that we now use it to fill up bank pages everywhere, or maybe that
        was just what he was going for? If so, kudos to you Cicero.
      </p>
    </section>
  </main>
</body>
</html>