<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Document</title>
</head>
<body>
  <main class="main">
    <header class="main__header header">
      <div class="header__logo">
        <h1>This is logo</h1>
      </div>
      <ul class="header__menu-items menu-items">
        <li class="menu-items__item"><a class="active" href="/">Main</a></li>
        <li class="menu-items__item"><a href="/history">History</a></li>
        <li class="menu-items__item"><a href="/write">Write something</a></li>
      </ul>
    </header>
    <section class="content">
      <h1 class="content__title">Welcome to the lorem ipsum page!</h1>
      <h2 class="content__subtitle">here it is:</h2>
      <p class="content__text">
        Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Quasi placeat est quia
        exercitationem non dolore vitae, nihil,
        aut suscipit repellat illum mollitia!
        Esse ipsa quisquam quod consectetur
        sequi animi architecto.
      </p>
    </section>
  </main>
</body>
</html>