<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Write something</title>
</head>
<body>
  <main class="main">
    <header class="main__header header">
      <div class="header__logo">
        <h1>This is logo</h1>
      </div>
      <ul class="header__menu-items menu-items">
        <li class="menu-items__item"><a href="/">Main</a></li>
        <li class="menu-items__item"><a href="/history">History</a></li>
        <li class="menu-items__item"><a class="active" href="/write">Write something</a></li>
      </ul>
    </header>
    <section class="main__content content">
      <h1 class="content__title">Here you can write something</h1>
      <form action="/write" method="POST">
      <input type="text" name="text">
      <button type="submit">Send</button>
      </form>
    </section>
  </main>
</body>
</html>